@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tamaño general de la barra */
::-webkit-scrollbar {
  width: 10px; /* Para barras verticales */
  height: 10px; /* Para barras horizontales */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(36, 36, 36);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}
